---
import plusIcon from '../assets/icon-plus.svg';
import minusIcon from '../assets/icon-minus.svg';
---

<!-- ToDo: Add data file, map accordion content -->

<div class="accordion">
  <!-- Accordion Panel 1 -->
  <div class="accordion-panel">
    <h3 id="panel1-heading">
      <button 
        class="accordion-trigger" 
        aria-controls="pantel1-content" 
        aria-expanded="true"
      >
        <span id="panel1-title">What is Frontend Mentor, and how will it help me?</span>
        <!-- <img src={plusIcon.src} alt="" aria-hidden="true"> -->
        <img src={minusIcon.src} alt="" aria-hidden="true">
      </button>
    </h3>
    <div 
      id="panel1-content" 
      class="accordion-content"
      aria-labelledby="panel1-heading"
      role="region">
        <p>
          Frontend Mentor offers realistic coding challenges to help
          developers improve their frontend coding skills with
          projects in HTML, CSS, and JavaScript. It's suitable for
          all levels and ideal for portfolio building.
        </p>
    </div>
  </div>
  <!-- Accordion Panel 2 -->
  <div class="accordion-panel">
    <h3 id="panel2-heading">
      <button 
        class="accordion-trigger" 
        aria-controls="pantel2-content" 
        aria-expanded="true"
      >
        <span id="panel2-title">Is Frontend Mentor free?</span>
        <img src={plusIcon.src} alt="" aria-hidden="true">
      </button>
    </h3>
    <div 
      id="panel2-content" 
      class="accordion-content"
      aria-labelledby="panel2-heading"
      role="region"
      hidden
    >
        <p>
          Yes, Frontend Mentor offers both free and premium coding
          challenges, with the free option providing access to a
          range of projects suitable for all skill levels.
        </p>
    </div>
  </div>
  <!-- Accordion Panel 3 -->
  <div class="accordion-panel">
    <h3 id="panel3-heading">
      <button 
        class="accordion-trigger" 
        aria-controls="pantel3-content" 
        aria-expanded="true"
      >
        <span id="panel3-title">Can I use Frontend Mentor projects in my portfolio?</span>
        <img src={plusIcon.src} alt="" aria-hidden="true">
      </button>
    </h3>
    <div 
      id="panel3-content" 
      class="accordion-content"
      aria-labelledby="panel3-heading"
      role="region"
      hidden
    >
        <p>
          Yes, you can use projects completed on Frontend Mentor in
          your portfolio. It's an excellent way to showcase your
          skills to potential employers!
        </p>
    </div>
  </div>
  <!-- Accordion Panel 4 -->
  <div class="accordion-panel">
    <h3 id="panel4-heading">
      <button 
        class="accordion-trigger" 
        aria-controls="pantel4-content" 
        aria-expanded="true"
      >
        <span id="panel4-title">How can I get help if I'm stuck on a challenge?</span>
        <img src={plusIcon.src} alt="" aria-hidden="true">
      </button>
    </h3>
    <div 
      id="panel4-content" 
      class="accordion-content"
      aria-labelledby="panel4-heading"
      role="region"
      hidden
    >
        <p>
          The best place to get help is inside Frontend Mentor's
          Discord community. There's a help channel where you can
          ask questions and seek support from other community
          members.
        </p>
    </div>
  </div>


</div>

<style>
  .accordion {
    /* padding-block-start: var(--spacing-300); */
  }
  .accordion-trigger {
    width: 100%;
    padding-inline: 0;
    padding-block: var(--spacing-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-300);
    background-color: var(--clr-white);
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: var(--text-preset-1);
    font-weight: 600;
    text-align: left;
    transition: color 200ms ease-in-out;
  }

  .accordion-trigger:hover,
  .accordion-trigger:focus-visible {
    color: var(--clr-violet-600);
  }

  .accordion-panel:not(:last-child) {
    border-bottom: 1px solid var(--clr-purple-100);
  }
  .accordion-content {
    padding-block-end: var(--spacing-300);
    font-size: var(--text-preset-2);
    color: var(--clr-purple-600);
  }
</style>