---
import plusIcon from '../assets/icon-plus.svg';
import minusIcon from '../assets/icon-minus.svg';

const {isOpen, headingId, buttonId, contentId, question, answer} = Astro.props;
---

<section class="accordion-panel">
  <h3 id={headingId}>
    <button 
      type="button"
      id={buttonId}
      class="accordion-trigger" 
      aria-controls={contentId} 
      aria-expanded={isOpen}
    >
      <span class="accordion-title">{question}</span>
      <img class="icon plus-icon" src={plusIcon.src} alt="" aria-hidden="true">
      <img class="icon minus-icon" src={minusIcon.src} alt="" aria-hidden="true">
    </button>
  </h3>
  <section 
    id={contentId} 
    class="accordion-content"
    aria-labelledby={headingId}
    aria-hidden={!isOpen}
    role="region"
  > 
    <p>{answer}</p>
  </section>
</section>

<style>
.accordion-panel {
  flex-basis: calc((var(--spacing-100) * 2) + var(--spacing-500));
  overflow: hidden;
}

.accordion-panel:not(:last-child) {
  border-bottom: 1px solid var(--clr-purple-200);
}

.accordion-panel:has([aria-expanded='true']) {
  flex-basis: clamp(6rem, 30vh, 13rem);
  flex-grow: 1;
}

.accordion-content {
  padding-block-start: var(--spacing-300);
}

.accordion-content > p {
  font-size: var(--text-preset-2);
  color: var(--clr-purple-600);
  transform: translateY(var(--spacing-400));
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
  .accordion-panel:has([aria-expanded='true']) p {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
}

.accordion-panel:has([aria-expanded='true']) p {
  transform: translateY(0);
  opacity: 1;
}

.accordion-title {
  font-size: var(--text-preset-1);
  font-weight: 500;
}

button.accordion-trigger {
  width: 100%;
  padding-block: var(--spacing-300);
  text-align: left;
  line-height: 1.2;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacing-300);
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  color: var(--clr-purple-950);
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.accordion-trigger:hover,
.accordion-trigger:focus-visible {
  color: var(--clr-violet-600);
}

.accordion-icon {
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
}

.accordion-trigger[aria-expanded="true"] .plus-icon {
  display: none;
}
.accordion-trigger[aria-expanded="true"] .minus-icon {
  display: block;
}
.accordion-trigger[aria-expanded="false"] .minus-icon {
  display: none;
}
.accordion-trigger[aria-expanded="false"] .plus-icon {
  display: block;
}

</style>