---
import plusIcon from '../assets/icon-plus.svg';
import minusIcon from '../assets/icon-minus.svg';

const {id, isOpen, headingId, buttonId, titleId, contentId, question, answer} = Astro.props;

---

<div class="accordion-panel">
  <h3 id={headingId} class="panel-heading">
    <button 
      id={buttonId}
      class="accordion-trigger" 
      aria-controls={contentId} 
      aria-expanded={isOpen}
    >
      <span id={titleId}>{question}</span>
      <img class="icon plus-icon" src={plusIcon.src} alt="" aria-hidden="true">
      <img class="icon minus-icon" src={minusIcon.src} alt="" aria-hidden="true">
    </button>
  </h3>
  <div 
    id={contentId} 
    class="accordion-content"
    aria-labelledby={headingId}
    role="region"
    aria-hidden={!isOpen}
    data-state={isOpen ? "open" : "closed"}
  > 
    <p>{answer}</p>
  </div>
</div>

<style>
  .accordion-trigger {
    width: 100%;
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-300);
    background-color: var(--clr-white);
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: var(--text-preset-1);
    font-weight: 600;
    text-align: left;
    transition: color 200ms ease-in-out;
  }

  .accordion-trigger:hover,
  .accordion-trigger:focus-visible {
    color: var(--clr-violet-600);
  }

  .accordion-trigger[aria-expanded="true"] .plus-icon {
    display: none;
  }
  .accordion-trigger[aria-expanded="true"] .minus-icon {
    display: block;
  }

  .accordion-trigger[aria-expanded="false"] .minus-icon {
    display: none;
  }
  .accordion-trigger[aria-expanded="false"] .plus-icon {
    display: block;
  }

  .accordion-panel:not(:last-child) {
    border-bottom: 1px solid var(--clr-purple-100);
  }

  .accordion-panel:not(:last-child) .accordion-content[aria-hidden="false"] {
    padding-block-end: var(--spacing-300);
  }

  .accordion-panel:not(:last-child) .panel-heading {
    margin-block-end: var(--spacing-300);
  }

  .accordion-panel:last-child .accordion-content[aria-hidden="false"] {
    margin-block-start: var(--spacing-300);
  }

  .accordion-content {
    font-size: var(--text-preset-2);
    color: var(--clr-purple-600);
    max-height: 0px;
    overflow: clip;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .accordion-content {
      transition: max-height 350ms ease-in-out;
    }
  }

  .accordion-content[data-state="open"] {
    max-height: 300px;
  }

</style>