---
import AccordionPanel from './AccordionPanel.astro';

const faqData = [
  {
    id: 1,
    question: "What is Frontend Mentor, and how will it help me?",
    answer: "Frontend Mentor offers realistic coding challenges to help developers improve their frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for all levels and ideal for portfolio building."
  },
  {
    id: 2,
    question: "Is Frontend Mentor free?",
    answer: "Yes, Frontend Mentor offers both free and premium coding challenges, with the free option providing access to a range of projects suitable for all skill levels."
  },
  {
    id: 3,
    question: "Can I use Frontend Mentor projects in my portfolio?",
    answer: "Yes, you can use projects completed on Frontend Mentor in your portfolio. It's an excellent way to showcase your skills to potential employers!"
  },
  {
    id: 4,
    question: "How can I get help if I'm stuck on a challenge?",
    answer: "The best place to get help is inside Frontend Mentor's Discord community. There's a help channel where you can ask questions and seek support from other community members."
  }
]
---

<div class="accordion">
  {
    faqData.map((item) => {
      return (
        <AccordionPanel
          isOpen={item.id === 1}
          headingId={`panel${item.id}-heading`}
          buttonId={`panel${item.id}-button`}
          contentId={`panel${item.id}-content`}
          question={item.question}
          answer={item.answer}
        />
      )
    })
  }
</div>

<script>

const toggleButtons = document.querySelectorAll(".accordion-trigger");

toggleButtons.forEach((button) => {
  button.addEventListener("click", (e) => {
    const targetButton = (e.target as HTMLElement).closest(".accordion-trigger") as HTMLElement;
    hideAnswers();
    showAnswer(targetButton);
  });
});

function showAnswer(btn: HTMLElement) {
  const answerId = btn?.getAttribute("aria-controls") as string;
  const targetAnswer = document.getElementById(answerId);
  btn?.setAttribute("aria-expanded", "true");
  targetAnswer?.setAttribute("aria-hidden", "false");
}

function hideAnswers() {
  document
    .querySelectorAll(".accordion-content")
    .forEach((answer) => {
      answer.setAttribute("aria-hidden", "true");
    });
  document
    .querySelectorAll(".accordion-trigger")
    .forEach((trigger) => trigger.setAttribute("aria-expanded", "false"));
}

</script>

<style>
.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  contain: content;
}
</style>